.bg-secondary {
    background-color: #414141 !important;
}

.bg-third {
    background-color: #252525;
}

.bg-primary {
    background-color: #d72323 !important;
}

.bg-fourth {
    background-color: #eeeeee !important;
}

nav {
    font-weight: 700;
}
.img-card {
    height: 18vw;
    object-fit: cover;
}
.bg-card {
    background-color: #d72323 !important;
}
.bg-card-sneaker {
    background-color: #ffffff !important;
}
