.bg-secondary {
    background-color: #1E5128 !important;
}

.bg-third {
    background-color: #191A19;
}

.bg-primary {
    background-color: #4E9F3D !important;
}

.bg-fourth {
    background-color: #D8E9A8 !important;
}

.bg-red {
    background-color: #EB1D36 !important;
}


nav {
    font-weight: 700;
}
.img-card {
    height: 18vw;
    object-fit: cover;
}
.bg-card {
    background-color: #4E9F3D !important;
}
.bg-card-sneaker {
    background-color: #ffffff !important;
}
